.DS_Store
__pycache__
__pycache__/DisplayMotionCreator.cpython-310.pyc
__pycache__/CSV2VMD.cpython-310.pyc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/Analysis-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/base_library.zip
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/BUNDLE-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/COLLECT-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/DisplayMotionCreator
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/DisplayMotionCreator.pkg
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/EXE-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/PKG-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/PYZ-00.pyz
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/PYZ-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/Tree-00.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/Tree-01.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/Tree-02.toc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/warn-DisplayMotionCreator.txt
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/xref-DisplayMotionCreator.html
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/localpycs/pyimod01_archive.pyc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/localpycs/pyimod02_importers.pyc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/localpycs/pyimod03_ctypes.pyc
psc_DisplayMotionCreatorGUI_tmp/DisplayMotionCreator/localpycs/struct.pyc
output.csv
outputExp.vmd
outputExpDecoded.csv
